@font-face {
  font-family: Fondamento;
  src: url("../../fonts/Fondamento-Regular.ttf"); }
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body header nav {
    background-color: #050505 !important; }
    body header nav .nav-wrapper {
      padding-left: 15px; }
      body header nav .nav-wrapper .brand-logo {
        font-family: 'Fondamento', cursive;
        color: #ff5722;
        height: 100%; }
        body header nav .nav-wrapper .brand-logo img {
          vertical-align: top;
          height: 100%;
          padding: 10px; }
  body main {
    flex: 1 0 auto; }
  body footer {
    background-color: #050505 !important; }
  body .clearfix::after {
    content: "";
    clear: both;
    display: table; }

body header {
  margin-bottom: 30px;
  padding-top: 64px; }
  @media (max-width: 600px) {
    body header {
      padding-top: 56px; } }
  body header nav {
    position: fixed;
    top: 0;
    z-index: 10; }
    body header nav ul li.active {
      background-color: rgba(255, 87, 34, 0.8); }
    body header nav ul li a:hover {
      background-color: rgba(255, 87, 34, 0.25); }
  body header #banner {
    height: 400px;
    overflow: hidden;
    position: relative; }
    body header #banner .img-wrapper {
      width: calc(100% / 3);
      float: left;
      overflow: hidden;
      min-height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    body header #banner #bannerOverlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 1;
      color: white; }
      body header #banner #bannerOverlay #bannerText {
        width: 58%;
        font-size: 4vw;
        text-align: center;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    @media (max-width: 992px) {
      body header #banner .img-wrapper {
        width: calc(100% / 2); }
      body header #banner #bannerOverlay #bannerText {
        width: 70%;
        font-size: 5vw; } }
    @media (max-width: 600px) {
      body header #banner .img-wrapper {
        width: 100%;
        height: calc(100% / 2); }
      body header #banner #bannerOverlay #bannerText {
        width: 80%;
        font-size: 8vw; } }
body main .tops {
  margin-bottom: 40px; }
  body main .tops .panel-wrapper {
    padding: 0 15px; }
    body main .tops .panel-wrapper h3 {
      margin: 0;
      padding: 1.3rem 0 1rem 0; }
    body main .tops .panel-wrapper .collection {
      border: 0; }
      body main .tops .panel-wrapper .collection .collection-item {
        padding-right: 40px; }
        body main .tops .panel-wrapper .collection .collection-item.avatar .title {
          font-weight: 500; }
        body main .tops .panel-wrapper .collection .collection-item.avatar .description {
          font-size: 0.9rem; }
        body main .tops .panel-wrapper .collection .collection-item .secondary-content i {
          transition: all 0.2s linear;
          color: #9e9e9e; }
          body main .tops .panel-wrapper .collection .collection-item .secondary-content i:hover {
            color: #bdbdbd; }
      body main .tops .panel-wrapper .collection#top-tracks .collection-item .artist-name {
        display: block;
        margin-bottom: 5px;
        line-height: 1; }
        body main .tops .panel-wrapper .collection#top-tracks .collection-item .artist-name small {
          display: block; }
      body main .tops .panel-wrapper .collection#top-tags .collection-item {
        text-transform: capitalize; }
    body main .tops .panel-wrapper div[materialize-pag] {
      overflow-x: auto; }
      body main .tops .panel-wrapper div[materialize-pag] .pagination {
        text-align: center; }
        body main .tops .panel-wrapper div[materialize-pag] .pagination .active {
          background-color: #ff7043; }
  body main .tops .progress {
    margin: 0;
    margin-top: -4px;
    background-color: #ffccbc; }
    body main .tops .progress .indeterminate {
      background-color: #ff5722; }

/*# sourceMappingURL=index.css.map */
