<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Col 1</h5>
                <p class="grey-text text-lighten-4">Row A</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Col 2</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3">List A</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3">List B</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    Sub 1
                    <br> Sub 2
                </div>
                <div class="col l4 offset-l2 s12">
                    <a class="grey-text text-lighten-4">Sub 3</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $('.collapsible').collapsible();
    $(".button-collapse").sideNav({ closeOnClick: true });
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>