<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110855560-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110855560-2');
</script>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@@title</title>

<meta charset="utf-8">
<meta name="description" content="@@description">
<link rel="icon" type="image/png" href="/favicon.png">

<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="https://www.pessia.xyz/@@file">
<meta property="og:title" content="@@title">
<meta property="og:site_name" content="@@main_title">
<meta property="og:description" content="@@description">
<meta property="og:image" content="/assets/img/favicon300x300.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:type" content="website">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="/assets/styles/css/min/@@file.min.css">

<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/materialize.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/@@file.js"></script>