<div id="ldn"><img src="/favicon.png" alt="brand-icon"></div>
<header>
    <nav class="nav-extended navbar-fixed">
        <div class="nav-wrapper z-depth-1">
            <a href="/" class="brand-logo">
                <i class="material-icons hide-on-small-only">
                    <img src="/favicon.png" alt="brand-icon">
                </i>PESSIA
            </a>

            <a href="#" data-activates="mobileNav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li class="@@index">
                    <a href="/">Home</a>
                </li>
                <li class="@@projetos">
                    <a href="/projetos/">Projetos</a>
                </li>
                <li class="@@sobre">
                    <a href="/sobre/">Sobre</a>
                </li>
                <li class="@@contato">
                    <a href="/contato/">Contato</a>
                </li>
            </ul>
        </div>

        <div class="nav-content">
            <form onsubmit="return false">
                <div class="input-field">
                    <input tabindex="1" type="search" id="searchVal" placeholder="Projetos/Cursos" class="autocomplete" autocomplete="off" required style="margin: 0; padding-left: 3.5em;" name="nome">
                    <i id="search" class="material-icons">search</i>
                    <i id="close" class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <ul class="side-nav" id="mobileNav">
        <li class="@@index">
            <a href="/">Home</a>
        </li>
        <li class="@@projetos">
            <a href="/projetos/">Projetos</a>
        </li>
        <li class="@@sobre">
            <a href="/sobre/">Sobre</a>
        </li>
        <li class="@@contato">
            <a href="/contato/">Contato</a>
        </li>
    </ul>
</header>