$primary-color: #3f51b5; // Materialize indigo

$primary-color-l1: #5c6bc0; // Materialize indigo lighten-1
$primary-color-l2: #7986cb; // Materialize indigo lighten-2
$primary-color-l3: #9fa8da; // Materialize indigo lighten-3
$primary-color-l4: #c5cae9; // Materialize indigo lighten-4
$primary-color-l5: #e8eaf6; // Materialize indigo lighten-5

$primary-color-d1: #3949ab; // Materialize indigo darken-1
$primary-color-d2: #303f9f; // Materialize indigo darken-2
$primary-color-d3: #283593; // Materialize indigo darken-3
$primary-color-d4: #1a237e; // Materialize indigo darken-4

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

table {
    &.highlight {
        tbody {
            tr {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.07);
                }
            }
        }
    }
}

.datepicker-container {
    .datepicker-date-display {
        background-color: $primary-color-l1;
        @media (min-width: 601px) {
            width: 35%;
        }
    }
    .datepicker-calendar-container {
        .pika-single {
            .datepicker-table-wrapper {
                table {
                    tr {
                        td {
                            &.is-today {
                                color: $primary-color-l1;
                            }
                            &.is-selected {
                                background-color: $primary-color-l1;
                                color: #fff;
                            }
                            button {
                                &:focus {
                                    background-color: rgba($primary-color-l1, .25);
                                }
                            }
                        }
                    }
                }
            }
            .datepicker-controls {
                .select-month {
                    .select-dropdown {
                        width: 75px;
                    }
                }
                button {
                    &:focus {
                        background-color: rgba($primary-color-l1, .25);
                    }
                }
            }
        }
        .datepicker-footer {
            .confirmation-btns {
                button {
                    color: $primary-color-l1;
                }
            }
        }
    }
}

.datepicker-modal,
.datepicker-container,
.datepicker-date-display {
    &:focus {
        outline: 0;
    }
}

.select-dropdown {
    li {
        span {
            color: $primary-color-l1;
        }
    }
}