$primary-color: #3f51b5; // Materialize indigo

$primary-color-l1: #5c6bc0; // Materialize indigo lighten-1
$primary-color-l2: #7986cb; // Materialize indigo lighten-2
$primary-color-l3: #9fa8da; // Materialize indigo lighten-3
$primary-color-l4: #c5cae9; // Materialize indigo lighten-4
$primary-color-l5: #e8eaf6; // Materialize indigo lighten-5

$primary-color-d1: #3949ab; // Materialize indigo darken-1
$primary-color-d2: #303f9f; // Materialize indigo darken-2
$primary-color-d3: #283593; // Materialize indigo darken-3
$primary-color-d4: #1a237e; // Materialize indigo darken-4

$primary-color-a1: #8c9eff; // Materialize indigo accent-1
$primary-color-a2: #536dfe; // Materialize indigo accent-2
$primary-color-a3: #3d5afe; // Materialize indigo accent-3
$primary-color-a4: #304ffe; // Materialize indigo accent-4

$secondary-color: #2196f3; // Materialize blue

$secondary-color-l1: #42a5f5; // Materialize blue lighten-1
$secondary-color-l2: #64b5f6; // Materialize blue lighten-2
$secondary-color-l3: #90caf9; // Materialize blue lighten-3
$secondary-color-l4: #bbdefb; // Materialize blue lighten-4
$secondary-color-l5: #e3f2fd; // Materialize blue lighten-5

$secondary-color-d1: #1e88e5; // Materialize blue darken-1
$secondary-color-d2: #1976d2; // Materialize blue darken-2
$secondary-color-d3: #1565c0; // Materialize blue darken-3
$secondary-color-d4: #0d47a1; // Materialize blue darken-4

$secondary-color-a1: #82b1ff; // Materialize blue accent-1
$secondary-color-a2: #448aff; // Materialize blue accent-2
$secondary-color-a3: #2979ff; // Materialize blue accent-3
$secondary-color-a4: #2962ff; // Materialize blue accent-4

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
}

table {
    &.highlight {
        tbody {
            tr {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.07);
                }
            }
        }
    }
}

.datepicker-container {
    .datepicker-date-display {
        background-color: $primary-color-l1;
        @media (min-width: 601px) {
            width: 35%;
        }
    }
    .datepicker-calendar-container {
        .pika-single {
            .datepicker-table-wrapper {
                table {
                    tr {
                        td {
                            &.is-today {
                                color: $primary-color-l1;
                            }
                            &.is-selected {
                                background-color: $primary-color-l1;
                                color: #fff;
                            }
                            button {
                                &:focus {
                                    background-color: rgba($primary-color-l1, .25);
                                }
                            }
                        }
                    }
                }
            }
            .datepicker-controls {
                .select-month {
                    .select-dropdown {
                        width: 75px;
                    }
                }
                button {
                    &:focus {
                        background-color: rgba($primary-color-l1, .25);
                    }
                }
            }
        }
        .datepicker-footer {
            .confirmation-btns {
                button {
                    color: $primary-color-l1;
                }
            }
        }
    }
}

.datepicker-modal,
.datepicker-container,
.datepicker-date-display {
    &:focus {
        outline: 0;
    }
}