@import '_main.scss';

body {
    header {
        .row {
            margin-bottom: 0;
            background: $primary-color;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            h2 {
                color: white;
            }

            #date-form {
                padding: 15px 0;
                #date-selector {
                    display: inline-block;
                    margin-right: 15px;
                    @media (max-width: 360px) {
                        width: 100%;
                    }
                    .datepicker {
                        color: white;
                        border-color: white;
                        &:focus {
                            border-bottom: 1px solid white;
                            -webkit-box-shadow: 0 1px 0 0 white;
                            box-shadow: 0 1px 0 0 white;
                        }
                    }
                    label {
                        color: white;
                    }
                }
                #submit {
                    display: inline-block;
                    position: relative;
                    .progress {
                        position: absolute;
                        bottom: 0;
                        margin: 0;
                        z-index: 2;
                        background-color: transparent;
                        .indeterminate {
                            background-color: #636363;
                        }
                    }
                }
            }
        }
    }
    main {
        padding-bottom: 35px;
        #date-title {
            margin-bottom: 0;
        }
        .data-table {
            overflow-x: auto;
        }
    }
}