@import '_main.scss';

body {
    header {
        background: $primary-color;
        .row {
            margin-bottom: 0;
            h2 {
                color: white;
            }
            #date-form {
                padding: 15px 0;
                #date-selector {
                    display: inline-block;
                    margin-right: 15px;
                    @media (max-width: 360px) {
                        width: 100%;
                    }
                    .datepicker {
                        color: white;
                        border-color: white;
                        &:focus {
                            border-bottom: 1px solid white;
                            -webkit-box-shadow: 0 1px 0 0 white;
                            box-shadow: 0 1px 0 0 white;
                        }
                    }
                    label {
                        color: white;
                    }
                }
                #submit {
                    display: inline-block;
                    position: relative;
                    button {
                        color: $primary-color;
                        background-color: white;
                    }
                    .progress {
                        position: absolute;
                        bottom: 0;
                        margin: 0;
                        z-index: 2;
                        background-color: transparent;
                        .indeterminate {
                            background-color: #636363;
                        }
                    }
                }
            }
        }
    }
    main {
        padding-bottom: 35px;
        .row {
            &:not(#date-title) {
                margin-bottom: 50px;
                h4 {
                    padding: 5px 15px;
                }
            }
            &#date-title {
                margin-bottom: 0;
                h3 {
                    padding: 5px 0 20px 10px;
                }
            }
            .data-table {
                overflow-x: auto;
                thead {
                    tr {
                        &.mobile-tr {
                            th {
                                &.mobile-th {
                                    @media (min-width: 601px) {
                                        display: none;
                                    }
                                    &.unit {
                                        transform: translateY(-15%);
                                        small {
                                            position: absolute;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }
                                &:not(.mobile-th) {
                                    @media (max-width: 600px) {
                                        display: none;
                                    }
                                }
                            }
                        }                            
                    }
                }
                tbody {
                    tr {
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }
            .data-chart {
                border-top: 2px solid rgba(#5c6bc0, 0.3333333333333333);
                padding-top: 3px;
                .tabs {
                    margin-bottom: 10px;
                    .tab {
                        cursor: pointer;
                        a {
                            background-color: white !important;
                            color: $primary-color-l1;
                        }
                    }
                    .indicator {
                        background-color: $primary-color-l1;
                    }
                }
                .custom-label {
                    margin: 0 5% 15px 5%;
                    .label-data {
                        float: left;
                        &:not(:first-child) {
                            margin-left: 15px;
                        }
                        .label-color {
                            width: .9rem;
                            height: .9rem;
                            display: inline-block;
                            transform: translateY(15%);
                            margin-right: 6px;
                        }
                    }
                    &:after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                }
                .ct-chart {
                    .ct-series-a {
                        .ct-line,
                        .ct-point,
                        .ct-bar {
                            stroke: $primary-color;
                        }
                    }
                    .ct-series-b {
                        .ct-line,
                        .ct-point,
                        .ct-bar {
                            stroke: $primary-color-l2;
                        }
                    }
                    .ct-series-c {
                        .ct-line,
                        .ct-point,
                        .ct-bar {
                            stroke: $primary-color-d4;
                        }
                    }
                    .ct-series-d {
                        .ct-line,
                        .ct-point,
                        .ct-bar {
                            stroke: $primary-color-l4;
                        }
                    }
                }
            }
        }
    }
}