@import '_main.scss';

body {
    .tabs {
        .tab {
            cursor: pointer;
            a {
                background-color: transparent !important;
                color: $primary-color-l1 !important;
            }
        }
        .indicator {
            background-color: $primary-color-l1 !important;
        }
    }
    header {
        background: $primary-color;
        .container {
            h2 {
                color: white;
            }
            .tabs {
                padding: 0 .75rem;
                background-color: transparent;
                .tab {
                    background-color: white;
                    &.disabled {
                        pointer-events: none;
                    }
                }
                .indicator {
                    height: 8px;
                }
            }
            .tab-content {
                .date-form {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .date-input {
                        display: inline-block;
                        margin-right: 15px;
                        @media (max-width: 600px) {
                            width: 100%;
                        }
                        .datepicker {
                            color: white;
                            border-color: white;
                            &:focus {
                                border-bottom: 1px solid white;
                                -webkit-box-shadow: 0 1px 0 0 white;
                                box-shadow: 0 1px 0 0 white;
                            }
                        }
                        &>label {
                            color: white;
                        }
                    }
                    .select-input {
                        margin-right: 15px;
                        display: inline-block;
                        @media (max-width: 600px) {
                            width: 100%;
                        }
                        .select-dropdown {
                            color: white;
                            border-bottom: 1px solid white;
                            li:not(.disabled) {
                                span {
                                    color: $primary-color-l1;
                                }
                            }
                        }
                        .caret {
                            fill: white;
                        }
                        label {
                            color: white;
                        }
                    }
                    .submit {
                        display: inline-block;
                        position: relative;
                        button {
                            color: $primary-color;
                            background-color: white;
                        }
                        .progress {
                            position: absolute;
                            bottom: 0;
                            margin: 0;
                            z-index: 2;
                            background-color: transparent;
                            .indeterminate {
                                background-color: #636363;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        margin-top: 25px !important;
    }
    main {
        padding-bottom: 35px;
        .search-title {
            margin-bottom: 0;
            h3 {
                margin-top: 0;
                padding: 5px 0 20px 10px;
            }
        }
        .data-row {
            margin-bottom: 50px;
            h4 {
                padding: 5px 15px;
            }
            .data-table {
                overflow-x: auto;
                thead {
                    tr {
                        &.mobile-tr {
                            th {
                                &.mobile-th {
                                    @media (min-width: 601px) {
                                        display: none;
                                    }
                                    &.unit {
                                        transform: translateY(-15%);
                                        small {
                                            position: absolute;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }
                                &:not(.mobile-th) {
                                    @media (max-width: 600px) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }

            .data-chart {
                border-top: 5px solid rgba(#5c6bc0, 0.3333333333333333);
                padding-top: 3px;
                margin-bottom: 25px;
                @media (max-width: 992px) {
                    margin-bottom: 15px;
                    border-top: 3px solid rgba(#5c6bc0, 0.3333333333333333);
                }
                @media (max-width: 600px) {
                    margin-bottom: 5px;
                }
                .tabs {
                    margin-bottom: 15px;
                }
                .custom-label {
                    margin: 0 5% 15px 5%;
                    .label-data {
                        float: left;
                        padding-right: 15px;
                        .label-color {
                            width: .9rem;
                            height: .9rem;
                            display: inline-block;
                            transform: translateY(15%);
                            margin-right: 6px;
                        }
                    }
                    &:after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                }
                .ct-chart {
                    $colors-list: (
                        ct-series-a: $primary-color, //#3f51b5
                        ct-series-b: $primary-color-l2, //#7986cb
                        // ct-series-c: $secondary-color-d4, //#0d47a1
                        // ct-series-d: $secondary-color-a4, //#2962ff
                        // ct-series-e: $primary-color-d4, //#1a237e
                        // ct-series-f: $primary-color-l4, //#c5cae9
                        // ct-series-g: $secondary-color, //#2196f3
                        // ct-series-h: $secondary-color-l4, //#bbdefb
                        // ct-series-i: $primary-color-a2, //#536dfe
                        // ct-series-j: $primary-color-a4, //#304ffe
                        // ct-series-k: $secondary-color-a2, //#448aff
                        // ct-series-l: $secondary-color-l2, //#64b5f6
                        ct-series-c: #9c27b0,
                        ct-series-d: #00796b,
                        ct-series-e: #d32f2f,
                        ct-series-f: #5e35b1,
                        ct-series-g: #388e3c,
                        ct-series-h: #ef6c00
                    );
                    @each $key,
                    $val in $colors-list {
                        .#{$key} {
                            .ct-line,
                            .ct-point,
                            .ct-bar {
                                stroke: #{$val};
                            }
                            .ct-slice-pie {
                                fill: #{$val};
                            }
                        }
                    }
                    svg {
                        overflow: visible;
                    }
                    .ct-chart-bar {
                        .ct-bar {
                            stroke-width: 8%;
                            @media (max-width: 600px) {
                                stroke-width: 4%;
                            }
                        }
                    }
                    .ct-chart-pie {
                        .ct-label {
                            font-size: .9rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &.day {
            .ct-chart-line {
                .ct-line {
                    stroke-width: 3px;
                }
            }
        }
        &.range {
            .ct-chart-line {
                .ct-line {
                    stroke-width: 1px;
                }
            }
            .ct-label.ct-horizontal {
                @media (max-width: 992px) {
                    -webkit-transform: rotate(-30deg);
                    -moz-transform: rotate(-30deg);
                    -ms-transform: rotate(-30deg);
                    -o-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                    margin-top: 10px;
                }
            }
        }
    }
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}