<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"error","title":"Erro 403","description":""})
</head>
<body>
    <!-- Header -->
    @@include('Shared/header.html')

    <main style="background-image: url(/assets/img/icons/403.png)">
        <h1>Erro 403</h1>
        <div class="container">Você não tem acesso à essas página ou diretório!</div>
    </main>

    <!-- Footer -->
    @@include('Shared/footer.html')

    <script>
        $(".nav-content").addClass("hide");
    </script>
</body>
</html>