<!DOCTYPE html>
<html lang="pt-BR">
<head>    
    <!-- Head -->
    @@include('Shared/head.html', {"file":"error","title":"Error 404","description":""})
</head>
<body>    
    <!-- Header -->
    @@include('Shared/header.html')

    <main style="background-image: url(/assets/img/icons/404.png)">
        <h1>Erro 404</h1>
        <div class="container">A URL informada está incorreta ou a página não existe!</div>
    </main>

    <!-- Footer -->
    @@include('Shared/footer.html')

    <script>
        $(".nav-content").addClass("hide");
    </script>
</body>
</html>