<!DOCTYPE html>
<html>
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"contato","title":"Contato","description":"Entre em contato para mais informações."})
</head>
<body>
    <!-- Header -->
    @@include('Shared/header.html', {"contato": "active"})

    <main class="container">
        <div id="formulario" class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="primeiro_nome" type="text">
                        <label for="first_name" class="">Nome</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="last_name" type="text">
                        <label for="last_name" class="">Sobrenome</label>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email">
                        <label for="email" class="">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="subject" type="text">
                        <label for="subject" class="">Assunto</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="message" class="materialize-textarea" data-length="500" maxlength="500"></textarea>
                        <label for="message" class="">Mensagem</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <input type="submit" class="submit">
                    </div>
                </div>
            </form>
    
        </div>
        <hr>
        <div id="contatos" class="row">
            <div class="col s12">
                <div class="row nome">
                    <div class="col s12">Thiago Pessia
                    </div>
                </div>
                <div class="row email">
                    <div class="col s12">
                        <a href="mailto:thiago@pessia.xyz">thiago@pessia.xyz</a>
                    </div>
                </div>
                <div class="row telefone">
                    <div class="col s12">
                        <a href="tel:+551194991-1003">+55 (11) 94991-1003</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section>
        <div id="modal" class="modal modal-fixed-footer sm">
            <div class="modal-content">
                <h4>Título Modal</h4>
                <p>Conteudo</p>
                <p>Do</p>
                <p>Modal</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Fechar</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>