<!DOCTYPE html>
<html>
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"index","title":"Thiago Pessia","description":"Veja meus projetos, habilidades, hobbies e muito mais!"})
</head>
<body>
    <!-- Header -->
    @@include('Shared/header.html', {"index": "active"})
    <div id="resumo" class="row" style="
        background-image: url(/assets/img/background-home2.jpg);
        background-repeat:  no-repeat;
        background-position:  center;
        background-size: cover;
        padding: 0 calc((100% - 70%) / 2);
        /* padding: 0 calc((100% - 85%) / 2); */
        /* padding: 0 calc((100% - 90%) / 2); */
        font-size: 1.1rem;
    ">
        <div class="col s12" style="
        padding-top: 50px;
        padding-bottom: 50px;
    ">
            <p>
                <strong class="first-letter">C</strong>omo profissional na área de Desenvolvimento Web, desenvolvo projetos focados em Front End, que podem
                ser visualizados
                <a href="#carouselElementA" style="color: inherit;">
                    <em>abaixo</em>
                </a>, com o intuito de aprender novas linguagens e frameworks. Além disso, trabalho em uma agência de desenvolvimento
                com projetos de empresas de grande porte, em sua maioria multinacionais do ramo alimentício, desde agosto de
                2017, utilizando HTML, CSS, JS e CMS.</p>
    
            <p>Estudo Sistemas de Informação na Universidade Anhembi Morumbi desde o segundo semestre de 2017, tendo contato com
                Programação em Java, Arquitetura de Computadores e Gestão de Sistemas. Também cursei Biotecnologia durante um
                ano na Universidade Federal de São Carlos, onde tive meu primeiro contato com programação (C++). Ademais, sou
                formado em Técnico em Mecânica pelo SENAI "Roberto Simonsen", onde obtive conhecimento em Desenho Técnico (CAD)
                e Desenvolvimento de Projetos.</p>
    
            <p>Como qualquer amante de programação, sempre busco conhecer mais sobre a área, seja estudando por conta própria ou
                através de cursos. Atualmente, venho explorando as linguagens de Back End e Banco de Dados, como ASP.NET MVC,
                PHP e MySQL, além de buscar evoluir em Front End, estudando frameworks mais complexas (e.g. Angular).</p>
    
            <p>Para entrar em contato, me notifique através de um dos canais de comunicação
                <a href="#info" style="color: inherit;">
                    <em>abaixo</em>
                </a> ou através da
                <a href="/contato.html" style="color: inherit;">
                    <em>página de contato</em>
                </a>.</p>
        </div>
    </div>
    <main class="container">
        <!-- <div id="resumo" class="row">
            <div class="col s12">
                <p><strong class="first-letter">C</strong>omo profissional na área de Desenvolvimento Web, desenvolvo projetos focados em Front End, que podem ser visualizados <a href="#carouselElementA" style="color: inherit;"><em>abaixo</em></a>, com o intuito de aprender novas linguagens e frameworks. Além disso, trabalho em uma agência de desenvolvimento com projetos de empresas de grande porte, em sua maioria multinacionais do ramo alimentício, desde agosto de 2017, utilizando HTML, CSS, JS e CMS.</p>

                <p>Estudo Sistemas de Informação na Universidade Anhembi Morumbi desde o segundo semestre de 2017, tendo contato com Programação em Java, Arquitetura de Computadores e Gestão de Sistemas. Também cursei Biotecnologia durante um ano na Universidade Federal de São Carlos, onde tive meu primeiro contato com programação (C++). Ademais, sou formado em Técnico em Mecânica pelo SENAI "Roberto Simonsen", onde obtive conhecimento em Desenho Técnico (CAD) e Desenvolvimento de Projetos.</p>
                
                <p>Como qualquer amante de programação, sempre busco conhecer mais sobre a área, seja estudando por conta própria ou através de cursos. Atualmente, venho explorando as linguagens de Back End e Banco de Dados, como ASP.NET MVC, PHP e MySQL, além de buscar evoluir em Front End, estudando frameworks mais complexas (e.g. Angular).</p>
                
			    <p>Para entrar em contato, me notifique através de um dos canais de comunicação <a href="#info" style="color: inherit;"><em>abaixo</em></a> ou através da <a href="/contato.html" style="color: inherit;"><em>página de contato</em></a>.</p>
            </div>
        </div> -->
        <div id="cursos" class="row">
            <div class="col s12">
                <h2>Cursos</h2>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">                
                                <span class="card-title">Cronometro</span>
                            </div>                
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projetos" class="row">
            <div class="col s12">
                <h2>Projetos</h2>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section>
        <div id="modal" class="modal modal-fixed-footer sm">
            <div class="modal-content">
                <h4>Título Modal</h4>
                <p>Conteudo</p>
                <p>Do</p>
                <p>Modal</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Fechar</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>
