<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"index","title":"Thiago Pessia","description":"Entre no meu portfolio e veja meus projetos, habilidades, hobbies e muito mais!"})
    <script src="/lib/particles.js"></script>
    <script src="/assets/js/particles.js"></script>
</head>
<body class="loading">
    <!-- Header -->
    @@include('Shared/header.html', {"index": "active"})
    <main>
        <section id="projetos-container">
            <div class="container">
                <div id="projetos" class="row valign-wrapper">
                    <div class="col s12 l5">
                        <a class="title-link">
                            <div class="hide-on-med-and-down"><h1>Proj</h1></div>
                            <div class="hide-on-med-and-down"><h1>etos</h1></div>
                            <div class="hide-on-large-only"><h1>Projetos</h1></div>
                        </a>
                    </div>
                    <div class="col s12 l7">
                        <div class="carousel carousel-slider center hide-on-small-only">
                            <!-- Carousel de Projetos - JSON -->
                            <a href="/projetos/">
                                <div class="carousel-item verMais" href="#five!">
                                    <div class="text">Ver Mais</div>
                                    <img class="arrow" src="/assets/img/icons/arrow-white.png" alt="arrow">
                                </div>
                            </a>
                        </div>
                        <div class="hide-on-med-and-up">
                            <!-- Grid de Projetos - JSON -->
                            <div class="col s12 m6">
                                <a href="/projetos/">
                                    <div id="5" class="bg-projetos verMais">
                                        <div class="text">Ver Mais</div>
                                        <img class="arrow" src="/assets/img/icons/arrow-white.png" alt="arrow">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cursos-container">
            <div id="particles-js"></div>
            <div class="container">
                <div id="cursos" class="row">
                    <div class="col s12">
                        <h1><a class="title-link white-text">Cursos</a></h1>
                        <div class="row">
                            <!-- Grid de Cursos - JSON -->
                            <div class="col l4 m6 s12 verMais">
                                <div class="card">
                                    <a href="/sobre/#cursos">
                                        <div class="card-image">
                                            <div class="card-bg">
                                                <div class="text">Ver Mais</div>
                                                <img src="/assets/img/icons/arrow-black.png" class="arrow" alt="arrow">
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            .
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="habilidades-container">
            <div class="container">
                <div id="habilidades" class="row">
                    <div class="col s12">
                        <h1><a class="title-link">Habilidades</a></h1>
                        <!-- Grid de Habilidades - JSON -->
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>
