<!DOCTYPE html>
<html>
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"index","title":"Thiago Pessia","description":"Veja meus projetos, habilidades, hobbies e muito mais!"})
</head>
<body class="loading start">
    <!-- Header -->
    @@include('Shared/header.html', {"index": "active"})
    <main class="container">
        <div id="cursos" class="row">
            <div class="col s12">
                <h2>Cursos</h2>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>       
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div> 
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projetos" class="row">
            <div class="col s12">
                <h2>Projetos</h2>
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <div class="card-bg" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)"></div>
                                <span class="card-title">Cronometro</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Visite o projeto!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section>
        <div id="modal" class="modal modal-fixed-footer sm">
            <div class="modal-content">
                <h4>Título Modal</h4>
                <p>Conteudo</p>
                <p>Do</p>
                <p>Modal</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Fechar</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>
