<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"projetos","title":"Projetos - Thiago Pessia","description":"Meus projetos pessoais e profissionais."})
</head>
<body class="loading">
    <!-- Header -->
    @@include('Shared/header.html', {"projetos": "active"})

    <main class="container">
        <div class="row">
            <!-- Grid de Projetos - JSON -->
        </div>
    </main>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>