<!DOCTYPE html>
<html>
<head>
    <!-- Head -->
    @@include('Shared/head.html', {"file":"projetos","title":"Projetos - Thiago Pessia","description":"Meus projetos pessoais e profissionais."})
</head>
<body class="loading">
    <!-- Header -->
    @@include('Shared/header.html', {"projetos": "active"})

    <main class="container">
        <div class="row">
            <!-- <div class="col s12 m6">
                <div id="1" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div id="2" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div id="3" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div id="4" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div id="5" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div id="6" class="bg-projetos" style="background-image: url(/assets/img/old/maps/format/img_12.jpg)">
                    <div class="content-projetos">
                        <div class="title">
                            Projeto X
                        </div>
                        <div class="hidden-content">Bla Bla Bla</div>
                        <a class="visitar">Visitar</a>
                        <span class="close hide">x</span>
                    </div>
                </div>
            </div> -->
        </div>
    </main>

    <!-- Footer -->
    @@include('Shared/footer.html')
</body>
</html>