<div id="ytPlayer" ng-if="isOpen">
    <span class="controls">
        <span class="action expand" ng-click="expand()">
            <i class="material-icons">{{ isExpanded ? 'expand_more' : 'expand_less' }}</i>
        </span><!--
        --><span class="action close" ng-click="close()">
            <i class="material-icons">close</i>
        </span>
    </span>
    <iframe frameborder="0" allowfullscreen ng-src="{{ videoUrl }}" ng-class="{ 'expanded': isExpanded }"></iframe>
     <!-- style="width: 100vw;height: 56.25vw;" -->
</div>