@font-face {
    font-family: Fondamento;
    src: url('../../fonts/Fondamento-Regular.ttf');
}

$nav-footer-color: #050505;
$primary-color: #ff5722; // Materialize deep-orange
$primary-color-l: #ff7043; // Materialize deep-orange lighten-1
$primary-color-xl: #ffccbc; // Materialize deep-orange lighten-4

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    header {
        margin-bottom: 30px;
        padding-top: 64px;
        @media (max-width: 600px) {
            padding-top: 56px;
        }
        nav {
            background-color: $nav-footer-color !important;
            position: fixed;
            top: 0;
            z-index: 10;
            .nav-wrapper {
                padding-left: 15px;
                .brand-logo {
                    font-family: 'Fondamento', cursive;
                    color: $primary-color;
                    height: 100%;
                    img {
                        vertical-align: top;
                        height: 100%;
                        padding: 10px;
                    }
                }
                .sidenav-trigger {
                    float: right;
                    margin: 0;
                    padding: 0 30px;
                    i {
                        font-size: 2.2rem;
                    }
                }
            }
            ul {
                li {
                    &.active {
                        background-color: rgba($primary-color, 0.8);
                    }
                    a {
                        &:hover {
                            background-color: rgba($primary-color, 0.25);
                        }
                    }
                }
            }
        }
        #banner {
            $bannerHeightPx: 400px;
            height: $bannerHeightPx;
            overflow: hidden;
            position: relative;
            background-color: #050505;
            .img-wrapper {
                width: calc(100% / 3 - .1px);
                float: left;
                overflow: hidden;
                min-height: $bannerHeightPx;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            #bannerOverlay {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 1;
                @media (min-width: 601px) {
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0.6) 85%);
                }
                @media (min-width: 993px) {
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0.6) 85%);
                }
                #bannerText {
                    color: white;
                    text-shadow: 1px 1px 2px;
                    width: 58%;
                    font-size: 4vw;
                    text-align: center;
                    position: absolute;
                    margin: 0 auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    #img-logo {
                        max-width: 350px;
                        display: block;
                        margin: 0 auto;
                        width: 40%;
                        margin-bottom: 10px;
                        @media (max-width: 600px) {
                            width: 55%;
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                .img-wrapper {
                    width: calc(100% / 2);
                }
                #bannerOverlay {
                    #bannerText {
                        width: 70%;
                        font-size: 5vw;
                    }
                }
            }
            @media (max-width: 600px) {
                .img-wrapper {
                    width: 100%;
                    height: calc(100% / 2);
                }
                #bannerOverlay {
                    #bannerText {
                        width: 80%;
                        font-size: 8vw;
                    }
                }
            }
        }
    }

    main {
        flex: 1 0 auto;
        word-wrap: break-word;
        .main-title {
            padding-bottom: 10px;
            border-bottom: 4px solid $primary-color;
        }
        [materialize-pag] {
            overflow-x: visible;
            .pagination {
                text-align: center;
                margin-top: 0;
                margin-bottom: 0;
                padding: 15px 0;
                .active {
                    background-color: $primary-color-l;
                }
            }
        }
        .tracks-grid {
            .main-col {
                margin-bottom: 20px;
            }
            .img-cover {
                padding-top: 100%; // Keep ratio 1x1
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s background-color;
                    cursor: pointer;
                }
                &:hover {
                    &:before {
                        // background-color: rgba($primary-color-xl, 0.4);
                        background-color: rgba(255, 255, 255, 0.25);
                    }
                }
                .meta-wrapper {
                    z-index: 1;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    margin-right: 10px;
                    &:hover {
                        z-index: 1;
                    }
                    a {
                        display: inline-block;
                        padding: 3px 8px;
                        background: rgba(0, 0, 0, 0.6);
                        color: rgba(255, 255, 255, 0.9);
                        white-space: nowrap;
                        transition: 0.5s background-color;
                        &:hover {
                            background-color: rgba(0, 0, 0, 1);
                            text-decoration: underline;
                        }
                    }
                    .title {
                        a {
                            font-weight: 500;
                        }
                    }
                    .album {
                        margin-top: 5px;
                        a {
                            font-weight: 300;
                            font-size: 13px;
                        }
                    }
                    .artist {
                        margin-top: 9px;
                    }
                }
            }
        }
        .search-wide {
            position: relative;
            transition: 0.5s box-shadow;
            margin-bottom: 15px;
            .material-icons {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(0, 0, 0, 0.5);
                transition: .5s color;
                &.left-icon {
                    left: 10px;
                    font-size: 2.3rem;
                    cursor: default;
                }
                &.right-icon {
                    right: 15px;
                    font-size: 2.5rem;
                    cursor: pointer;
                }
            }
            input {
                margin: 0 !important;
                padding: 0 55px !important;
                box-sizing: border-box !important;
                font-size: 1.5rem !important;
                height: 3.5rem !important;
                border-bottom: 1px solid $primary-color-xl !important;
                box-shadow: 0 1px 0 0 $primary-color-xl !important;
                &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                    transition: .5s color;
                }
                &:-ms-input-placeholder {
                    color: rgba(0, 0, 0, 0.5);
                    transition: .5s color;
                }
                &::-ms-input-placeholder {
                    color: rgba(0, 0, 0, 0.5);
                    transition: .5s color;
                }
                &.is-focus {
                    border-bottom: 1px solid $primary-color-l !important;
                    box-shadow: 0 1px 0 0 $primary-color-l !important;
                    &::placeholder {
                        color: rgba(0, 0, 0, 0.65);
                    }
                    &:-ms-input-placeholder {
                        color: rgba(0, 0, 0, 0.65);
                    }
                    &::-ms-input-placeholder {
                        color: rgba(0, 0, 0, 0.65);
                    }
                    & ~ .material-icons {
                        color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }

    footer {
        background-color: $nav-footer-color !important;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    @-webkit-keyframes autofill {
        to {
            color: inherit;
            background: transparent;
        }
    }
    input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}