[materialize-pag] {
    overflow-x: visible;
    .pagination {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        .active {
            background-color: $primary-color-l;
        }
    }
}

[grid-albums],
[grid-artists],
[grid-tracks] {
    .main-col {
        margin-bottom: 20px;
    }
    .img-cover {
        padding-top: 100%; // Keep ratio 1x1
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .meta-wrapper {
            z-index: 1;
            position: absolute;
            top: 10px;
            left: 10px;
            margin-right: 10px;
            &:hover {
                z-index: 1;
            }
            a {
                display: inline-block;
                padding: 3px 8px;
                background: rgba(0, 0, 0, 0.6);
                color: rgba(255, 255, 255, 0.9);
                white-space: nowrap;
                transition: 0.5s background-color;
                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                    text-decoration: underline;
                }
            }
            .title {
                a {
                    font-weight: 500;
                }
            }
            .album {
                a {
                    font-weight: 300;
                    font-size: 13px;
                }
            }
            .album,
            .artist {
                margin-top: 5px;
            }
        }
        .youtube-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            transition: .3s transform;
            z-index: 1;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 35px;
            }
        }
    }
}

[search-wide] {
    position: relative;
    margin-bottom: 15px;
    form {
        transition: .3s box-shadow;
        .material-icons {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(0, 0, 0, 0.5);
            transition: .3s color;
            &.left-icon {
                left: 20px;
                font-size: 2.3rem;
                cursor: default;
            }
            &.right-icon {
                right: 20px;
                font-size: 2.5rem;
                cursor: pointer;
            }
        }
        input {
            margin: 0 !important;
            padding: 0 55px !important;
            box-sizing: border-box !important;
            font-size: 1.5rem !important;
            height: 3.5rem !important;
            border-bottom: 1px solid $primary-color-xl !important;
            box-shadow: 0 1px 0 0 $primary-color-xl !important;
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                transition: .3s color;
            }
            &:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
                transition: .3s color;
            }
            &::-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.5);
                transition: .3s color;
            }
            &.is-focus {
                border-bottom: 1px solid $primary-color-l !important;
                box-shadow: 0 1px 0 0 $primary-color-l !important;
                &::placeholder {
                    color: rgba(0, 0, 0, 0.65);
                }
                &:-ms-input-placeholder {
                    color: rgba(0, 0, 0, 0.65);
                }
                &::-ms-input-placeholder {
                    color: rgba(0, 0, 0, 0.65);
                }
                &~.material-icons {
                    color: rgba(0, 0, 0, 0.75);
                }
            }
        }
    }
}

[yt-player] {
    display: inline-block;
    width: auto;
    max-width: calc(100vw - 27px);
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 5;
    text-align: right;
    #ytPlayer {
        position: relative;
        .controls {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
            background-color: #000000;
            .action {
                cursor: pointer;
                display: inline-block;
                color: $primary-color-l;
                &:first-child {
                    border-right: 1px solid $primary-color-l;
                }
                &:hover {
                    color: $primary-color-xl;
                }
                .material-icons {
                    vertical-align: top;
                }
            }
        }
        iframe {
            &.expanded {
                width: 35vw;
                height: 19.6875vw;
            }
            background-color: #000000;
            vertical-align: top;
            width: 100%;
        }
    }
}