body {
    .usersettings {
        form {
            margin-bottom: 50px;
            .row {
                margin-bottom: 0px;
                .avatar {
                    text-align: center;
                    .img-wrapper {
                        display: inline-block;
                        position: relative;
                        width: 100%;
                        max-height: 260px;
                        max-width: 260px;
                        min-height: 245px;
                        #avatar-img {
                            max-height: inherit;
                            max-width: inherit;
                            min-height: inherit;
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                        }
                        .edit {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: block;
                            width: 100%;
                            background: #1b1b1b;
                            color: white;
                            font-weight: 600;
                            padding: 0;
                            label {
                                display: block;
                                width: 100%;
                                padding: 0 16px;
                                color: inherit;
                                font-weight: inherit;
                                font-size: inherit;
                                cursor: pointer;
                                .material-icons {
                                    vertical-align: top;
                                    margin: 0 5px;
                                }
                            }
                            input {
                                display: none;
                                opacity: 0;
                                position: absolute;
                                z-index: -1;
                            }
                        }
                        .info {
                            display: block;
                            text-align: left;
                            position: absolute;
                            bottom: -20px;
                        }
                    }
                }
                .img-wrapper,
                .input-field {
                    margin-bottom: 2rem;
                }
                #us-submit {
                    background-color: $primary-color;
                }
            }
            &>.row {
                margin-bottom: 20px;
            }
        }
    }
}