body {
    .userplaylists {
        .carousel-wrapper {
            overflow: hidden;
        }
        .focused-playlist {
            .playlist-title {
                margin-bottom: 25px;
                .options {
                    margin-bottom: 5px;
                    a {
                        display: inline-block;
                        &:not(:first-child) {
                            margin-left: 5px;
                        }
                        &:first-child {
                            margin-left: -5px;
                        }
                        .material-icons {
                            cursor: pointer;
                            font-size: 2rem;
                            vertical-align: bottom;
                            color: rgba(0, 0, 0, 0.87);
                        }
                    }
                }                
                .title-wrapper {
                    .playlist-name {
                        padding-bottom: 10px;
                        display: inline-block;
                        border-bottom: 4px solid $primary-color;
                        max-width: 100%;
                    }
                    input {
                        color: rgba(0, 0, 0, 0.87);
                        height: auto;
                        font-size: 2.28rem;
                        line-height: 110%;
                        width: auto;
                        margin: 0;
                        box-shadow: none;
                        border: 0;
                    }
                    .material-icons {
                        color: rgba(0, 0, 0, 0.87);
                        font-size: 1.8rem;
                        cursor: pointer;
                        padding: 5px 5px 5px 10px;
                    }
                }
            }
            .playlist-tracks {
                .track-item {
                    width: 100%;
                    position: relative;
                    margin: 0;
                    margin-bottom: 10px;
                    .remove-track {
                        cursor: pointer;
                        text-align: center;
                        width: auto;
                        padding-left: 0;
                        padding-right: 5px;
                        margin: 0;
                        .material-icons {
                            font-size: 2rem;
                            vertical-align: bottom;
                            color: rgba(0, 0, 0, 0.87);
                        }
                    }
                    .track-title {
                        margin: 0;
                        .track-title-wrapper {
                            display: inline-block;
                            cursor: pointer;
                            .track-image {
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                vertical-align: top;
                                img {
                                    object-fit: cover;
                                    object-position: center;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .track-name {
                                margin-top: 12px;
                                display: inline-block;
                                font-size: 1.2rem;
                                margin-left: 10px;
                                * {
                                    color: rgba(0, 0, 0, 0.87);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}