@import '_main.scss';

body {
    main {
        .tops {
            .collection {
                .collection-item {
                    .secondary-content {
                        i {
                            transition: all 0.2s linear;
                            color: #9e9e9e;
                            &:hover {
                                color: #bdbdbd;
                            }
                        }
                    }
                }
                &#top-tracks {
                    .collection-item {
                        .artist-name {
                            display: block;
                            margin-bottom: 5px;
                            line-height: 1;
                            small {
                                display: block;
                            }
                        }
                    }
                }
                &#top-tags {
                    .collection-item {
                        .tag-name {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    .pagination {
        text-align: center;
        .active {
            background-color: #ff7043;
        }
    }
}