body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body main {
    flex: 1 0 auto; }

table.highlight tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.07); }

.datepicker-container .datepicker-date-display {
  background-color: #5c6bc0; }
  @media (min-width: 601px) {
    .datepicker-container .datepicker-date-display {
      width: 35%; } }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td.is-today {
  color: #5c6bc0; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td.is-selected {
  background-color: #5c6bc0;
  color: #fff; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td button:focus {
  background-color: rgba(92, 107, 192, 0.25); }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-controls .select-month .select-dropdown {
  width: 75px; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-controls button:focus {
  background-color: rgba(92, 107, 192, 0.25); }
.datepicker-container .datepicker-calendar-container .datepicker-footer .confirmation-btns button {
  color: #5c6bc0; }

.datepicker-modal:focus,
.datepicker-container:focus,
.datepicker-date-display:focus {
  outline: 0; }

.select-dropdown li span {
  color: #5c6bc0; }

body .tabs .tab {
  cursor: pointer; }
  body .tabs .tab a {
    background-color: transparent !important;
    color: #5c6bc0 !important; }
body .tabs .indicator {
  background-color: #5c6bc0 !important; }
body header {
  background: #3f51b5; }
  body header .container h2 {
    color: white; }
  body header .container .tabs {
    padding: 0 .75rem;
    background-color: transparent; }
    body header .container .tabs .tab {
      background-color: white; }
  body header .container .tab-content .date-form {
    padding-top: 15px;
    padding-bottom: 15px; }
    body header .container .tab-content .date-form .date-input {
      display: inline-block;
      margin-right: 15px; }
      @media (max-width: 600px) {
        body header .container .tab-content .date-form .date-input {
          width: 100%; } }
      body header .container .tab-content .date-form .date-input .datepicker {
        color: white;
        border-color: white; }
        body header .container .tab-content .date-form .date-input .datepicker:focus {
          border-bottom: 1px solid white;
          -webkit-box-shadow: 0 1px 0 0 white;
          box-shadow: 0 1px 0 0 white; }
      body header .container .tab-content .date-form .date-input label {
        color: white; }
    body header .container .tab-content .date-form .select-input {
      margin-right: 15px;
      display: inline-block; }
      @media (max-width: 600px) {
        body header .container .tab-content .date-form .select-input {
          width: 100%; } }
      body header .container .tab-content .date-form .select-input .select-dropdown {
        color: white;
        border-bottom: 1px solid white; }
        body header .container .tab-content .date-form .select-input .select-dropdown li:not(.disabled) span {
          color: #5c6bc0; }
      body header .container .tab-content .date-form .select-input .caret {
        fill: white; }
      body header .container .tab-content .date-form .select-input label {
        color: white; }
    body header .container .tab-content .date-form .submit {
      display: inline-block;
      position: relative; }
      body header .container .tab-content .date-form .submit button {
        color: #3f51b5;
        background-color: white; }
      body header .container .tab-content .date-form .submit .progress {
        position: absolute;
        bottom: 0;
        margin: 0;
        z-index: 2;
        background-color: transparent; }
        body header .container .tab-content .date-form .submit .progress .indeterminate {
          background-color: #636363; }
body main {
  padding-bottom: 35px; }
  body main .data-row:not(.search-title) {
    margin-bottom: 50px; }
    body main .data-row:not(.search-title) h4 {
      padding: 5px 15px; }
  body main .data-row.search-title {
    margin-bottom: 0; }
    body main .data-row.search-title h3 {
      padding: 5px 0 20px 10px; }
  body main .data-row .data-table {
    overflow-x: auto; }
    @media (min-width: 601px) {
      body main .data-row .data-table thead tr.mobile-tr th.mobile-th {
        display: none; } }
    body main .data-row .data-table thead tr.mobile-tr th.mobile-th.unit {
      transform: translateY(-15%); }
      body main .data-row .data-table thead tr.mobile-tr th.mobile-th.unit small {
        position: absolute;
        transform: translateX(-50%); }
    @media (max-width: 600px) {
      body main .data-row .data-table thead tr.mobile-tr th:not(.mobile-th) {
        display: none; } }
    body main .data-row .data-table tbody tr:last-child {
      border-bottom: 0; }
  body main .data-row .data-chart {
    border-top: 2px solid rgba(92, 107, 192, 0.33333);
    padding-top: 3px;
    margin-bottom: 25px; }
    @media (max-width: 992px) {
      body main .data-row .data-chart {
        margin-bottom: 15px; } }
    @media (max-width: 600px) {
      body main .data-row .data-chart {
        margin-bottom: 5px; } }
    body main .data-row .data-chart .tabs {
      margin-bottom: 10px; }
    body main .data-row .data-chart .custom-label {
      margin: 0 5% 15px 5%; }
      body main .data-row .data-chart .custom-label .label-data {
        float: left; }
        body main .data-row .data-chart .custom-label .label-data:not(:first-child) {
          margin-left: 15px; }
        body main .data-row .data-chart .custom-label .label-data .label-color {
          width: .9rem;
          height: .9rem;
          display: inline-block;
          transform: translateY(15%);
          margin-right: 6px; }
      body main .data-row .data-chart .custom-label:after {
        content: "";
        clear: both;
        display: table; }
    body main .data-row .data-chart .ct-chart .ct-series-a .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-a .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-a .ct-bar {
      stroke: #3f51b5; }
    body main .data-row .data-chart .ct-chart .ct-series-a .ct-slice-pie {
      fill: #3f51b5; }
    body main .data-row .data-chart .ct-chart .ct-series-b .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-b .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-b .ct-bar {
      stroke: #7986cb; }
    body main .data-row .data-chart .ct-chart .ct-series-b .ct-slice-pie {
      fill: #7986cb; }
    body main .data-row .data-chart .ct-chart .ct-series-c .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-c .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-c .ct-bar {
      stroke: #9c27b0; }
    body main .data-row .data-chart .ct-chart .ct-series-c .ct-slice-pie {
      fill: #9c27b0; }
    body main .data-row .data-chart .ct-chart .ct-series-d .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-d .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-d .ct-bar {
      stroke: #00796b; }
    body main .data-row .data-chart .ct-chart .ct-series-d .ct-slice-pie {
      fill: #00796b; }
    body main .data-row .data-chart .ct-chart .ct-series-e .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-e .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-e .ct-bar {
      stroke: #d32f2f; }
    body main .data-row .data-chart .ct-chart .ct-series-e .ct-slice-pie {
      fill: #d32f2f; }
    body main .data-row .data-chart .ct-chart .ct-series-f .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-f .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-f .ct-bar {
      stroke: #5e35b1; }
    body main .data-row .data-chart .ct-chart .ct-series-f .ct-slice-pie {
      fill: #5e35b1; }
    body main .data-row .data-chart .ct-chart .ct-series-g .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-g .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-g .ct-bar {
      stroke: #388e3c; }
    body main .data-row .data-chart .ct-chart .ct-series-g .ct-slice-pie {
      fill: #388e3c; }
    body main .data-row .data-chart .ct-chart .ct-series-h .ct-line,
    body main .data-row .data-chart .ct-chart .ct-series-h .ct-point,
    body main .data-row .data-chart .ct-chart .ct-series-h .ct-bar {
      stroke: #ef6c00; }
    body main .data-row .data-chart .ct-chart .ct-series-h .ct-slice-pie {
      fill: #ef6c00; }
    body main .data-row .data-chart .ct-chart .ct-chart-pie .ct-label {
      font-size: .9rem;
      font-weight: bold; }

/*# sourceMappingURL=index.css.map */
