body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body main {
    flex: 1 0 auto; }

table.highlight tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.07); }

.datepicker-container .datepicker-date-display {
  background-color: #5c6bc0; }
  @media (min-width: 601px) {
    .datepicker-container .datepicker-date-display {
      width: 35%; } }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td.is-today {
  color: #5c6bc0; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td.is-selected {
  background-color: #5c6bc0;
  color: #fff; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-table-wrapper table tr td button:focus {
  background-color: rgba(92, 107, 192, 0.25); }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-controls .select-month .select-dropdown {
  width: 75px; }
.datepicker-container .datepicker-calendar-container .pika-single .datepicker-controls button:focus {
  background-color: rgba(92, 107, 192, 0.25); }
.datepicker-container .datepicker-calendar-container .datepicker-footer .confirmation-btns button {
  color: #5c6bc0; }

.datepicker-modal:focus,
.datepicker-container:focus,
.datepicker-date-display:focus {
  outline: 0; }

.select-dropdown li span {
  color: #5c6bc0; }

body header {
  background: #3f51b5; }
  body header .row {
    margin-bottom: 0; }
    body header .row h2 {
      color: white; }
    body header .row #date-form {
      padding: 15px 0; }
      body header .row #date-form #date-selector {
        display: inline-block;
        margin-right: 15px; }
        @media (max-width: 360px) {
          body header .row #date-form #date-selector {
            width: 100%; } }
        body header .row #date-form #date-selector .datepicker {
          color: white;
          border-color: white; }
          body header .row #date-form #date-selector .datepicker:focus {
            border-bottom: 1px solid white;
            -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white; }
        body header .row #date-form #date-selector label {
          color: white; }
      body header .row #date-form #submit {
        display: inline-block;
        position: relative; }
        body header .row #date-form #submit button {
          color: #3f51b5;
          background-color: white; }
        body header .row #date-form #submit .progress {
          position: absolute;
          bottom: 0;
          margin: 0;
          z-index: 2;
          background-color: transparent; }
          body header .row #date-form #submit .progress .indeterminate {
            background-color: #636363; }
body main {
  padding-bottom: 35px; }
  body main .row:not(#date-title) {
    margin-bottom: 50px; }
    body main .row:not(#date-title) h4 {
      padding: 5px 15px; }
  body main .row#date-title {
    margin-bottom: 0; }
    body main .row#date-title h3 {
      padding: 5px 0 20px 10px; }
  body main .row .data-table {
    overflow-x: auto; }
    @media (min-width: 601px) {
      body main .row .data-table thead tr.mobile-tr th.mobile-th {
        display: none; } }
    body main .row .data-table thead tr.mobile-tr th.mobile-th.unit {
      transform: translateY(-15%); }
      body main .row .data-table thead tr.mobile-tr th.mobile-th.unit small {
        position: absolute;
        transform: translateX(-50%); }
    @media (max-width: 600px) {
      body main .row .data-table thead tr.mobile-tr th:not(.mobile-th) {
        display: none; } }
    body main .row .data-table tbody tr:last-child {
      border-bottom: 0; }
  body main .row .data-chart {
    border-top: 2px solid rgba(92, 107, 192, 0.3333333333);
    padding-top: 3px; }
    body main .row .data-chart .tabs {
      margin-bottom: 10px; }
      body main .row .data-chart .tabs .tab {
        cursor: pointer; }
        body main .row .data-chart .tabs .tab a {
          background-color: white !important;
          color: #5c6bc0; }
      body main .row .data-chart .tabs .indicator {
        background-color: #5c6bc0; }
    body main .row .data-chart .custom-label {
      margin: 0 5% 15px 5%; }
      body main .row .data-chart .custom-label .label-data {
        float: left; }
        body main .row .data-chart .custom-label .label-data:not(:first-child) {
          margin-left: 15px; }
        body main .row .data-chart .custom-label .label-data .label-color {
          width: .9rem;
          height: .9rem;
          display: inline-block;
          transform: translateY(15%);
          margin-right: 6px; }
      body main .row .data-chart .custom-label:after {
        content: "";
        clear: both;
        display: table; }
    body main .row .data-chart .ct-chart .ct-series-a .ct-line,
    body main .row .data-chart .ct-chart .ct-series-a .ct-point,
    body main .row .data-chart .ct-chart .ct-series-a .ct-bar {
      stroke: #3f51b5; }
    body main .row .data-chart .ct-chart .ct-series-b .ct-line,
    body main .row .data-chart .ct-chart .ct-series-b .ct-point,
    body main .row .data-chart .ct-chart .ct-series-b .ct-bar {
      stroke: #7986cb; }
    body main .row .data-chart .ct-chart .ct-series-c .ct-line,
    body main .row .data-chart .ct-chart .ct-series-c .ct-point,
    body main .row .data-chart .ct-chart .ct-series-c .ct-bar {
      stroke: #1a237e; }
    body main .row .data-chart .ct-chart .ct-series-d .ct-line,
    body main .row .data-chart .ct-chart .ct-series-d .ct-point,
    body main .row .data-chart .ct-chart .ct-series-d .ct-bar {
      stroke: #c5cae9; }

/*# sourceMappingURL=index.css.map */
