<!DOCTYPE html>
<html>
<head>
	<title>Layout 01</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="styles/styles.css">

	<link rel="icon" href="images/generic-logo.ico">
</head>
<body>
	<header>
		<nav>
			<form action="http://www.google.com" target="_blank"><input type="image" src="images/generic-logo.ico" id="navLogo"></form>

			<div class="navDiv">
				<ul id="ul1">
					<li class="li1" id="li1a">
						<a href="" class="nav">Menu1</a>
						<ul class="ul2" id="ul2a">
							<li class="li2">
								<a href="" class="nav">Sub1</a>
							</li>
						</ul>
					</li>

					<li class="li1" id="li1b">
						<a href="" class="nav">Menu2</a>
						<ul class="ul2" id="ul2b">
							<li class="li2">
								<a href="" class="nav">Sub2</a>
							</li>
						</ul>
					</li>

					<li class="li1" id="li1c">
						<a href="" class="nav">Menu3</a>
						<ul class="ul2" id="ul2c">
							<li class="li2">
								<a href="" class="nav">Sub3</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div id="headerDiv"></div>

		<section id="topVideoPai">
			<section id="topVideoFilho">
				<img src="images/generic-logo.png" id="logoImg">
			</section>

			<video id="videoCoffee" autoplay muted loop>
				<source src="videos/Coffee-Shot.mp4" type="video/mp4">
			</video>
		</section>
	</header>

	<main>
		<div id="blackCover"></div>
		<section id="section1">
			<section id="section2">
				Boa tarde
			</section>
		</section>
	</main>

	<footer>
		<section class="footerSection">
			Footer Teste
		</section>
	</footer>
</body>
</html>