<form name="search-wide" class="search-wide" ng-submit="onSubmit(key)" ng-class="{ 'z-depth-3': isFocus }">
    <input type="search" placeholder="Search for {{ searchFor }}" ng-model="key" ng-focus="isFocus = true" ng-blur="isFocus = false" ng-class="{ 'is-focus': isFocus }">
    <i class="material-icons left-icon">search</i>
    <i class="material-icons right-icon" ng-click="onSubmit(key)" ng-if="searchAvailable">arrow_forward</i>
    <i class="material-icons right-icon" ng-click="close()" ng-if="!searchAvailable">close</i>
</form>