<div class="row grid-tracks">
    <div class="col s12 l6 main-col" ng-if="series[0]">
        <div class="img-cover" ng-style="(series[0].imgsDone) ? {'background-image':'url(' + series[0].image[series[0].image.length - 1]['#text'] + ')'} : {}">
            <div class="meta-wrapper" ng-style="mOn[0][0] == true || mOn[0][1] == true || mOn[0][3] == true ? {'z-index':'2'} : {}">
                <div class="title">
                    <a href="{{ series[0].url }}" target="_blank" ng-mouseenter="mOn[0][0]=true" ng-mouseleave="mOn[0][0]=false">{{ series[0].name === undefined ? 'Unknown' : ( mOn[0][0] ? series[0].name : cutStr(series[0].name, 20) ) }}</a>
                </div>
                <div class="album">
                    <a href="{{ series[0].info.album.url }}" target="_blank" ng-mouseenter="mOn[0][1]=true" ng-mouseleave="mOn[0][1]=false">{{ series[0].info.album.title === undefined ? 'Unknown' : ( mOn[0][1] ? series[0].info.album.title : cutStr(series[0].info.album.title, 20) ) }}</a>
                </div>
                <div class="artist">
                    <a href="{{ series[0].artist.url }}" target="_blank" ng-mouseenter="mOn[0][2]=true" ng-mouseleave="mOn[0][2]=false">
                        <small>by: {{ series[0].artist.name === undefined ? 'Unknown' : ( mOn[0][2] ? series[0].artist.name : cutStr(series[0].artist.name, 20) ) }}</small>
                    </a>
                </div>
            </div>
            <materialize-video-fab play="ytVideo.open({ type: 'track', artist: series[0].artist.name, track: series[0].name });" add="saveOnPlaylist({ type: 'track', artist: series[0].artist.name, track: series[0].name });"></materialize-video-fab>
        </div>
    </div>
    <div class="col s12 l6 sub-col">
        <div class="row" ng-repeat="offset in [1,3]">
            <div class="col s12 l6" ng-repeat="serie in series | limitTo:2:offset">
                <div class="img-cover" ng-style="(serie.imgsDone) ? {'background-image':'url(' + serie.image[serie.image.length - 1]['#text'] + ')'} : {}">
                    <div class="meta-wrapper" ng-style="mOn[$index + offset][0] == true || mOn[$index + offset][1] == true || mOn[$index + offset][3] == true ? {'z-index':'2'} : {}">
                        <div class="title">
                            <a href="{{ serie.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][0]=true" ng-mouseleave="mOn[$index + offset][0]=false">{{ serie.name === undefined ? 'Unknown' : ( mOn[$index + offset][0] ? serie.name : cutStr(serie.name, 10)) }}</a>
                        </div>
                        <div class="album">
                            <a href="{{ serie.info.album.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][1]=true" ng-mouseleave="mOn[$index + offset][1]=false">{{ serie.info.album.title === undefined ? 'Unknown' : ( mOn[$index + offset][1] ? serie.info.album.title : cutStr(serie.info.album.title, 10) ) }}</a>
                        </div>
                        <div class="artist">
                            <a href="{{ serie.artist.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][2]=true" ng-mouseleave="mOn[$index + offset][2]=false">
                                <small>by: {{ serie.artist.name === undefined ? 'Unknown' : ( mOn[$index + offset][2] ? serie.artist.name : cutStr(serie.artist.name, 10) ) }}</small>
                            </a>
                        </div>
                    </div>
                    <materialize-video-fab play="ytVideo.open({ type: 'track', artist: serie.artist.name, track: serie.name });" add="saveOnPlaylist({ type: 'track', artist: serie.artist.name, track: serie.name });"></materialize-video-fab>
                </div>
            </div>
        </div>
    </div>
</div>