$page-bg: #fff;
$colorSubNav: #fff;
$colorNav: #fff; //nav/footer color
$navTextColor: #000;

.colorNav {background-color: $colorNav !important;}
$colorA: #1C2833; //main color
.colorA {background-color: $colorA !important;}
$colorB: #ffab40; //secondary color
.colorB {background-color: $colorB !important;}
$colorC: #1A2930; //ternary color
.colorC {background-color: $colorC !important;}
$colorD: #A9B7C0; //extra color
.colorD {background-color: $colorD !important;}

@font-face {
    font-family: Pessia;
    src: url("/assets/fonts/Pessia-Regular.ttf");
}

@font-face {
    font-family: Redressed;
    src: url("/assets/fonts/Redressed.ttf");
}

body {
    margin-bottom: 66px;

    #ldn {
        display: none;
    }

    &.loading {
        overflow: hidden;
        * {
            pointer-events: none;
            cursor: default;
        }
        #ldn {
            display: block;
            position: fixed;
            z-index: 10000;
            width: 100vw;
            height: 100vh;
            background: white;
            top: 0;
            img {
                position: absolute;
                max-width: 50vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation-name: pulseLogo;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                transform-origin: top left;
                max-width: 10vw;
                @media (max-width: 992px) {
                    max-width: 35vw;
                }
                @keyframes pulseLogo {
                    0% {
                        transform: scale(1) translate(-50%, -50%);
                    }
                    50% {
                        transform: scale(1.25) translate(-50%, -50%);
                    }
                    100% {
                        transform: scale(1) translate(-50%, -50%);
                    }
                }
            }
        }
    }

    header {
        nav {
            background-color: $colorNav;
            box-shadow: initial;            
            .nav-wrapper {
                .brand-logo {
                    font-family: Pessia;
                    font-size: 4rem;
                    white-space: nowrap;
                    color: $navTextColor;
                    i {
                        margin-left: 7px;
                        img {
                            padding: 5%;
                            margin-top: 5px;
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
                .button-collapse {
                    i {
                        color: black;
                    }
                }
                position: fixed;
                width: 100%;
                z-index: 1;
                background: $colorNav;
                top: 0;
                &>ul {
                    padding-right: 10px;
                    li {
                        a {
                            color: lighten($navTextColor, 54%);
                            border-bottom: 2px solid transparent;
                            background: transparent;
                            line-height: 50px;
                            padding-top: 6px;
                            margin-bottom: 6px;
                            &:hover {
                                transition: all 0.5s ease-in-out;
                                color: $navTextColor;
                                border-bottom: 2px solid $navTextColor;
                            }
                        }
                        &.active {
                            background: transparent;
                            a {
                                color: $navTextColor;
                                border-bottom: 2px solid $navTextColor;
                            }
                        }
                    }
                }
            }
            .nav-content {
                margin-top: 64px;
                color: $navTextColor;
                background-color: $colorSubNav;
                padding-left: 80%;
                border-top: 1px solid transparent;
                @media (max-width: 992px) {
                    padding-left: 0px;
                }
                .input-field {
                    margin-right: 3px;
                    #searchVal {
                        color: lighten($navTextColor, 54%);
                        padding-right: 3.5em;
                        border-bottom: 0;
                        box-shadow: none;
                        box-sizing: border-box;
                        &:focus {
                            color: $navTextColor;
                            &+#search {
                                color: $navTextColor;
                            }
                        }
                        @media (min-width: 993px) {
                            &:focus {
                                box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 5px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px -2px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                    #search {
                        color: lighten($navTextColor, 54%);
                        right: initial;
                        left: 0.5em;
                        top: -11%;
                        &+i {
                            top: -11%;
                        }
                        @media (max-width: 992px) {
                            top: -15%;
                            &+i {
                                top: -15%;
                            }
                        }
                    }
                    .autocomplete-content {
                        margin: 0;
                        position: absolute;
                        width: 100%;
                        li {
                            span {
                                color: rgba(0, 0, 0, 0.5);
                                &.highlight {
                                    color: rgba(0, 0, 0, 0.87);
                                }
                            }
                        }
                    }
                }
            }
        }
        .side-nav {
            padding-top: 15px;
        }
    }

    main {
        font-size: 1.08rem;
    }

    .modal {
        .lg {
            top: 10%;
            width: 65%;
            min-height: 350px;
            height: 80%;
            max-height: 80%;
            @media screen and (max-width: 992px) {
                width: 85%;
            }
            .modal-content {
                &>h4 {
                    text-align: center;
                    position: sticky;
                    top: 0;
                    padding: 22px;
                    margin: 0;
                }
            }
        }
        .sm {
            top: 15% !important;
            height: 35vh !important;
            max-height: 35vh;
        }
    }

    footer {
        background-color: $colorNav !important;
        padding: 5px;
        line-height: normal;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        box-sizing: content-box;
        z-index: 5;
        span {
            float: right;
            img {
                margin-top: 3px;
                height: 44px;
                transition: transform 0.4s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}