@import '_main.scss';

main {
    margin-top: 20px !important;
    #formulario {
        form {
            .row {
                margin-bottom: 0;
                padding: 0 5px;
                input {
                    margin-bottom: 20px !important;
                    &:not(.submitBtn) {
                        &:focus {
                            border-top: 1px solid transparent;
                        }
                        @-webkit-keyframes autofill {
                            to {
                                color: inherit;
                                background: transparent;
                            }
                        }
                        &:-webkit-autofill {
                            -webkit-animation-name: autofill;
                            -webkit-animation-fill-mode: both;
                        }
                    }
                    &.submitBtn {
                        border: 0;
                        background: none;
                        box-shadow: none;
                        border-radius: 0px;
                        padding: 10px 25px;
                        color: rgb(55, 55, 55);
                        font-weight: 500;
                        border: 2px solid rgb(55, 55, 55);
                        transition: all 0.4s;
                        &:focus {
                            outline: 0;
                        }
                        &:hover {
                            background-color: rgb(55, 55, 55) !important;
                            color: white !important;
                        }
                    }
                }
                textarea {
                    max-height: 200px;
                }
                input:not(.submitBtn),
                textarea {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                    &:focus {
                        -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8) !important;
                        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8) !important;
                        border: 1px solid transparent !important;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;
                        &+label {
                            color: rgba(0, 0, 0, 0.8) !important;
                        }
                    }
                    &:not(:focus) {
                        border: 1px solid #9e9e9e !important;
                        color: rgba(0,0,0,0.87) !important;
                        &+label {
                            &.active {
                                -webkit-transform: translateY(-20px) scale(0.8);
                                transform: translateY(-20px) scale(0.8);
                            }
                        }
                    }
                }
                input,
                textarea {
                    margin-left: -5px !important;
                    margin-right: -5px !important;
                }
            }
        }
    }
    #contatos {
        .nome, .email, .telefone {
            a {
                color: rgba(0, 0, 0, 0.87);
            }
        }
        .nome {
            margin-top: 30px;
        }
    }    
}