@import '_main.scss';

body {
    .nav-content {
        display: none;
    }

    main {
        background-repeat: no-repeat;
        background-position: center;
        h1 {
            text-align: center;
            font-size: 45px;
            margin-top: 40vh;
        }
        .container {
            text-align: center;
            font-size: 1.2em;
            margin-top: 5vh;
        }
    }

    footer {
        margin-top: 0px !important;
    }
}