@import '_main.scss';

body {
    // #resumo {
    //     text-align: justify;
    //     background-image: url(/assets/img/background-home2.jpg);
    //     background-repeat : no-repeat;
    //     background-position : center;
    //     background-size: cover;
    //     font-size: 1.15rem;
    //     padding: 0 calc((100% - 90%) / 2);

    //     @media (min-width: 993px) {
    //         padding: 0 calc((100% - 70%) / 2);
    //     }
    //     @media (min-width: 601px) {
    //         padding: 0 calc((100% - 85%) / 2);
    //     }

    //     div {
    //         padding-top: 50px;
    //         padding-bottom: 50px;
    //         .first-letter {
    //             font-size: 3em;
    //             float: left;
    //             line-height: 98%;
    //             width: 0.75em;
    //         }
    //     }
    // }
    main {
        #projetos {
            margin-top: 50px;
            margin-bottom: 50px;
            h1 {
                letter-spacing: 15px;
                text-transform: uppercase;
                font-size: 8rem;
            }
        }
        #cursos {
            h1 {
                font-size: 5rem;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            .card {
                overflow: hidden;
                .card-image {
                    overflow: hidden;
                    height: 170px;
                    .card-bg {
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat; // transition: transform 0.4s ease-in-out;
                    } // &:hover {
                    //     .card-bg {
                    //         transform: scale(1.05);
                    //     }
                    // }
                }

                .card-title {
                    color: white;
                    padding: 10px 15px;
                }

                .card-action {
                    background-color: #1C2833;
                    padding-left: 15px;
                }

                .card-reveal {
                    transition: transform .6s;
                    &.preTop {
                        display: block;
                        transform: translate(0, -200%);
                    }
                    &.fromTop {
                        display: block;
                        transform: translate(0, -100%);
                    }
                    &.preBottom {
                        display: block;
                    }
                    &.fromBottom {
                        display: block;
                        transform: translateY(-100%);
                    }
                    &.preRight {
                        display: block;
                        transform: translate(100%, -100%);
                    }
                    &.fromRight {
                        display: block;
                        transform: translate(0, -100%);
                    }
                    &.preLeft {
                        display: block;
                        transform: translate(-100%, -100%);
                    }
                    &.fromLeft {
                        display: block;
                        transform: translate(0, -100%);
                    }
                }

            }
        }
    }
}