@import '_main.scss';

body {
    #resumo {
        text-align: justify;
        background-image: url(/assets/img/background-home2.jpg);
        background-repeat : no-repeat;
        background-position : center;
        background-size: cover;
        font-size: 1.15rem;
        padding: 0 calc((100% - 90%) / 2);

        @media (min-width: 993px) {
            padding: 0 calc((100% - 70%) / 2);
        }
        @media (min-width: 601px) {
            padding: 0 calc((100% - 85%) / 2);
        }

        div {
            padding-top: 50px;
            padding-bottom: 50px;
            .first-letter {
                font-size: 3em;
                float: left;
                line-height: 98%;
                width: 0.75em;
            }
        }
    }    
    main {
        #cursos, #projetos {
            .card-image {
                overflow: hidden;
                height: 170px;

                .card-bg {
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: transform 0.4s ease-in-out;
                }

                &:hover {
                    .card-bg {
                        transform: scale(1.05);
                    }
                }
            }

            .card-title {
                padding: 10px 15px;
            }

            .card-action {
                padding-left: 15px;
            }
        }
    }
}