@import '_main.scss';

body {
    #resumo {
        text-align: justify;
        .first-letter {
            font-size: 3em;
            float: left;
            line-height: 98%;
            width: 0.75em;
        }
    }    
    main {
        #cursos, #projetos {
            .card-image {
                height: 170px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                img {
                    min-width: 100%;
                    max-height: 170px;
                    width: auto;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
            }

            .card-title {
                padding: 10px 15px;
            }

            .card-action {
                padding-left: 15px;
            }
        }
    }
}