<div class="row tracks-grid">
    <div class="col s12 m6 main-col">
        <div class="img-cover" ng-click="newTab(gridTracks[0].url)" ng-style="(gridTracks[0].imgsDone) ? {'background-image':'url(' + gridTracks[0].image[gridTracks[0].image.length - 1]['#text'] + ')'} : {}">
            <div class="meta-wrapper" ng-style="mOn[0][0] == true || mOn[0][1] == true || mOn[0][3] == true ? {'z-index':'2'} : {}">
                <div class="title" ng-if="remove.title === undefined || !remove.title">
                    <a href="{{ gridTracks[0].url }}" target="_blank" ng-mouseenter="mOn[0][0]=true" ng-mouseleave="mOn[0][0]=false">{{ gridTracks[0].name === undefined ? 'Unknown' : ( mOn[0][0] ? gridTracks[0].name : cutStr(gridTracks[0].name, 20) ) }}</a>
                </div>
                <div class="album" ng-if="remove.album === undefined || !remove.album">
                    <a href="{{ gridTracks[0].info.album.url }}" target="_blank" ng-mouseenter="mOn[0][1]=true" ng-mouseleave="mOn[0][1]=false">{{ gridTracks[0].info.album.title === undefined ? 'Unknown' : ( mOn[0][1] ? gridTracks[0].info.album.title : cutStr(gridTracks[0].info.album.title, 20) ) }}</a>
                </div>
                <div class="artist" ng-if="remove.artist === undefined || !remove.artist">
                    <a href="{{ gridTracks[0].artist.url }}" target="_blank" ng-mouseenter="mOn[0][2]=true" ng-mouseleave="mOn[0][2]=false">
                        <small>by: {{ gridTracks[0].artist.name === undefined ? 'Unknown' : ( mOn[0][2] ? gridTracks[0].artist.name : cutStr(gridTracks[0].artist.name, 20) ) }}</small>
                    </a>
                </div>
            </div>
            <div class="youtube-icon">
                <img src="assets/img/icons/youtube-icon.png">
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="row" ng-repeat="offset in [1,3]">
            <div class="col s6" ng-repeat="gridTrack in gridTracks | limitTo:2:offset">
                <div class="img-cover" ng-click="newTab(gridTrack.url)" ng-style="(gridTrack.imgsDone) ? {'background-image':'url(' + gridTrack.image[gridTrack.image.length - 1]['#text'] + ')'} : {}">
                    <div class="meta-wrapper" ng-style="mOn[$index + offset][0] == true || mOn[$index + offset][1] == true || mOn[$index + offset][3] == true ? {'z-index':'2'} : {}">
                        <div class="title" ng-if="remove.title === undefined || !remove.title">
                            <a href="{{ gridTrack.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][0]=true" ng-mouseleave="mOn[$index + offset][0]=false">{{ gridTrack.name === undefined ? 'Unknown' : ( mOn[$index + offset][0] ? gridTrack.name : cutStr(gridTrack.name, 10)) }}</a>
                        </div>
                        <div class="album" ng-if="remove.album === undefined || !remove.album">
                            <a href="{{ gridTrack.info.album.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][1]=true" ng-mouseleave="mOn[$index + offset][1]=false">{{ gridTrack.info.album.title === undefined ? 'Unknown' : ( mOn[$index + offset][1] ? gridTrack.info.album.title : cutStr(gridTrack.info.album.title, 10) ) }}</a>
                        </div>
                        <div class="artist" ng-if="remove.artist === undefined || !remove.artist">
                            <a href="{{ gridTrack.artist.url }}" target="_blank" ng-mouseenter="mOn[$index + offset][2]=true" ng-mouseleave="mOn[$index + offset][2]=false">
                                <small>by: {{ gridTrack.artist.name === undefined ? 'Unknown' : ( mOn[$index + offset][2] ? gridTrack.artist.name : cutStr(gridTrack.artist.name, 10) ) }}</small>
                            </a>
                        </div>
                    </div>
                    <div class="youtube-icon">
                        <img src="assets/img/icons/youtube-icon.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>