.colorNav {
  background-color: #151515 !important; }

.colorA {
  background-color: #0F1626 !important; }

.colorB {
  background-color: #ffab40 !important; }

.colorC {
  background-color: #1A2930 !important; }

.colorD {
  background-color: #A9B7C0 !important; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body.loading .brand-logo i {
    pointer-events: none;
    cursor: default; }
  body.loading.start .brand-logo i {
    width: 50px; }
    body.loading.start .brand-logo i #ldnLayer {
      position: fixed;
      background-color: #151515;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0; }
    body.loading.start .brand-logo i img {
      height: 25vh;
      width: 25vh;
      position: fixed;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      margin-left: calc(50vw - 25vh / 2);
      margin-top: calc(50vh - 25vh / 2);
      animation-name: pulseLogo;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
@keyframes pulseLogo {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }
  body.loading.onprogress .brand-logo i {
    width: 50px; }
    body.loading.onprogress .brand-logo i #ldnLayer {
      transition: all 1.8s ease-out;
      position: fixed;
      background-color: #151515;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      opacity: 0; }
    body.loading.onprogress .brand-logo i img {
      transition: all 1.8s ease-out; }
  body header nav {
    background-color: #151515; }
    body header nav .brand-logo {
      z-index: 1;
      white-space: nowrap; }
      body header nav .brand-logo i {
        margin-left: 7px; }
        body header nav .brand-logo i img {
          padding: 5%;
          margin-top: 5px;
          height: 50px;
          width: 50px; }
    body header nav .nav-wrapper > ul li.active {
      background-color: #3b3b3b; }
    body header nav .nav-content {
      background-color: #181818;
      padding-left: 80%;
      border-top: 3px solid rgba(0, 0, 0, 0.1); }
      @media (max-width: 992px) {
        body header nav .nav-content {
          padding-left: 0px; } }
    body header nav .input-field #searchVal {
      padding-right: 3.5em;
      border-bottom: 0;
      box-shadow: none;
      box-sizing: border-box; }
      body header nav .input-field #searchVal:focus + #search {
        color: #444; }
    body header nav .input-field #search {
      color: rgba(230, 230, 230, 0.9);
      right: initial;
      left: 0.5em;
      top: -11%; }
      body header nav .input-field #search + i {
        top: -11%; }
      @media (max-width: 992px) {
        body header nav .input-field #search {
          top: -15%; }
          body header nav .input-field #search + i {
            top: -15%; } }
  body header .side-nav {
    padding-top: 15px; }
  body main {
    flex: 1 0 auto;
    font-size: 1.08rem; }
  body .modal .lg {
    top: 10%;
    width: 65%;
    min-height: 350px;
    height: 80%;
    max-height: 80%; }
    @media screen and (max-width: 992px) {
      body .modal .lg {
        width: 85%; } }
    body .modal .lg .modal-content > h4 {
      text-align: center;
      position: sticky;
      top: 0;
      padding: 22px;
      margin: 0; }
  body .modal .sm {
    top: 15% !important;
    height: 35vh !important;
    max-height: 35vh; }
  body footer {
    background-color: #151515 !important;
    margin-top: 60px; }
    body footer .footer-copyright {
      background-color: #181818; }
      body footer .footer-copyright .container .row {
        margin-bottom: 0;
        position: relative; }
        @media screen and (min-width: 993px) {
          body footer .footer-copyright .container .row div:last-of-type {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0; } }

body #resumo {
  text-align: justify;
  background-image: url(/assets/img/background-home2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.15rem;
  padding: 0 calc((100% - 90%) / 2); }
  @media (min-width: 993px) {
    body #resumo {
      padding: 0 calc((100% - 70%) / 2); } }
  @media (min-width: 601px) {
    body #resumo {
      padding: 0 calc((100% - 85%) / 2); } }
  body #resumo div {
    padding-top: 50px;
    padding-bottom: 50px; }
    body #resumo div .first-letter {
      font-size: 3em;
      float: left;
      line-height: 98%;
      width: 0.75em; }
body main #cursos .card-image, body main #projetos .card-image {
  overflow: hidden;
  height: 170px; }
  body main #cursos .card-image .card-bg, body main #projetos .card-image .card-bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease-in-out; }
  body main #cursos .card-image:hover .card-bg, body main #projetos .card-image:hover .card-bg {
    transform: scale(1.05); }
body main #cursos .card-title, body main #projetos .card-title {
  padding: 10px 15px; }
body main #cursos .card-action, body main #projetos .card-action {
  padding-left: 15px; }
